/*.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,50px);
    grid-gap: 3px;
}*/
/*This display will be the same as from the top*/
.container{
    display: grid;
    grid-template: repeat(2,50px) / repeat(3,1fr);
    grid-gap: 3px;
}

.container2 {
    display: grid;
    height: 100%;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    margin-top: 20px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c" 
        "f f f f f f f f f f f f" ;
}


.header {
    /*grid-column-start: 1;
    grid-column-end: 3;*/

    grid-column: 1/-1;
    border: 1px solid black;
}

.menu {
    grid-row: 2/3;
    border: 1px solid black;
}

.content {
    /*grid-column starts from 2 spans/ends to end -1 or you can put 13*/
    grid-column: 2/-1;
    grid-column: 2/-1;
    border: 1px solid black;
}

.footer {
    /*both has same effect*/
    grid-column: 1 / span 2; /*spans to the end*/
    grid-column: 1 / 14 ; /*target the last column line*/
    border: 1px solid black;
}

.container3 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);
}
